.navbar-color {
color: white;
text-decoration: none;
border-radius: 1em;
}
.blocks {
    background-color: rgb(160, 201, 217);
    color: rgba(75, 75, 75, 1);
    height: 100%; 
    margin-bottom: 1em;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-save {
  position: relative;
  text-align: center;
  color: white;
}
.backgroundimage{
    background-image: url("../sample\ images/applejalousy.jpeg");
    background-size: cover;
   }
.backgroundimage2{
    background-image: url("../sample\ images/sampleimage1.jpg");
    background-size: cover;
   }

.backgroundimage3{
    background-image: url("../sample\ images/sampleimage2.jpg");
    background-size: cover;
   }

.zoomonhover {
    transition: transform .2s
}
.zoomonhover:hover {
    transform: scale(1.05);
}

.descriptionimage {
font-size: 0.4em;
}