
   .backgroundimage1{
    background-image: url("1.jpg");
    background-size: cover;
   }
   .backgroundimage2{
    background-image: url("2.jpg");
    background-size: cover;
   }
   .backgroundimage3{
    background-image: url("3.jpg");
    background-size: cover;
   }
   .backgroundimage4{
    background-image: url("4.jpg");
    background-size: cover;
   }
   .backgroundimage5{
    background-image: url("5.jpg");
    background-size: cover;
   }
   .backgroundimage6{
    background-image: url("6.jpg");
    background-size: cover;
   }
   .backgroundimage7{
    background-image: url("7.jpg");
    background-size: cover;
   }
   .backgroundimage8{
    background-image: url("8.jpg");
    background-size: cover;
   }
   .backgroundimage9{
    background-image: url("9.jpg");
    background-size: cover;
   }
   .backgroundimage10{
    background-image: url("10.jpg");
    background-size: cover;
   }
   .backgroundimage11{
    background-image: url("11.jpg");
    background-size: cover;
   }
   .backgroundimage12{
    background-image: url("12.jpg");
    background-size: cover;
   }
   .backgroundimage13{
    background-image: url("13.jpg");
    background-size: cover;
   }